@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v16/zN7GBFwfMP4uA6AR0HCoLQ.ttf)
    format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf)
    format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

ol {
  padding: 0 0 0 20px;
}

ul {
  padding: 0 0 0 20px;
}
/*styling for lists in "subtitle" */
h6 ol > li {
  margin-top: 1em;
}

/*styling for bullet points in pdf export (rendered with DejaVu Serif)*/
@font-face {
  font-family: 'DejaVu Serif';
  src: url('https://kendo.cdn.telerik.com/2022.1.301/styles/fonts/DejaVu/DejaVuSerif.ttf')
    format('truetype');
}

.k-pdf-export ul {
  list-style-type: disc;
  font-size: 0.7em;
}

.k-pdf-export ol {
  padding: 0 0 0 30px;
}
